@import 'typography';
@import 'colors';

.filter-bar-container {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 1em;
  height: 2em;
}

#filter-title {
  color: $lightgrey;
  font-size: $smallText;
}