@import 'typography';
@import 'colors';

.home-container {
  padding: 0 2em;
  overflow: hidden;
}

.heading-description {
  max-width: 35rem;
  color: $lightgrey;
  font-weight: $headingWeight;
  letter-spacing: 1px;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

h1 {
  font-weight: $headingWeight;
  font-size: $headingSize;
}