@import 'typography';
@import 'colors';

.heading-description {
  max-width: 35rem;
  color: $lightGrey;
  font-weight: $smallWeight;
  letter-spacing: 1px;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

h1 {
  font-weight: $smallWeight;
  font-size: $headingSize;
}